{% extends "base.html" %}
{% block content %}
    <fieldset style="width: 300px; margin: auto;">
        <legend><h3>Авторизация</h3></legend>
        <form method="POST">
            <p>
                <label>Email:</label><br>
                <input type="email" name="email" required style="width: 100%;">
            </p>
            <p>
                <label>Пароль:</label><br>
                <input type="password" name="password" required style="width: 100%;">
            </p>
            <p align="center">
                <button type="submit" style="padding: 5px 20px;">Войти в систему</button>
            </p>
        </form>
    </fieldset>
{% endblock %}
